#!/usr/bin/env bash

export PYTHONPATH={{ PYTHONPATH }}
export PYTHONPATH={{ MODELS_PATH }}:$PYTHONPATH
export PYSPARK_PYTHON={{ PYSPARK_PYTHON }}
export PYSPARK_DRIVER_PYTHON={{ PYSPARK_DRIVER_PYTHON }}


